/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul, ol {
  padding: 0;
}

/* Remove default margin */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
}

/* prevent IE9 (and earlier) */
a > img {
    border: 0;
}

/* a tag */
a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: inherit;
}

/* fr-img */
.fr-img {
    overflow: hidden;
}

.fr-img, .fr-img img, .fr-img .fr-img-no-img {
    width: 100%;
    display: block;
}

.fr-img img, .fr-img .fr-img-no-img{
    height: 100%;
}

.fr-img .fr-img-no-img {
    background-color: #c1c1c1;
}
